<p id="notice"><%= notice %></p>

<h1>Listagem de Produtos</h1>

<br>

<div>
  <%= form_tag produtos_path, :method => :get do %>
     <%= text_field_tag :keywords, params[:keywords] %>
     <%= submit_tag "Pesquisar" %>
     <%if params[:keywords].present?%>
       <%= link_to "limpar", produtos_path %>
     <% end %>
  <% end %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Quantidade</th>
      <th>Preco</th>
      <th>Ean</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.sku %></td>
        <td><%= produto.nome %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.quantidade %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.ean %></td>
        <td><%= link_to 'Exibir', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Remover', produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Produto novo', new_produto_path %>

<br><br>

<div>
  <%= form_tag produtos_path + '/report/request', :method => :get do %>
     <h3><%= label_tag 'Relatório do Cadastro de Produtos' %></h3>
     <%= text_field_tag :send_to_email, params[:send_to_email], :placeholder => 'exemplo@email.com' %>
     <%= submit_tag "Enviar" %>
  <% end %>
</div>
